.wrapper {
  height: 100vh;
  background-color: #fff056;
}

.nav-content {
  background-color: #fff056;
}

.header-content {
  height: 175px;
  /* background-color: #e6d800; */
  background-color: #496e5e;
  
  color: #121212
}

.header-para {
  font-size: 23px;;
}